/* Global styling + variables */
:root{
    --background: #1d3557;
    --foreground: #457b9d;
    --letter-color: #14213d;
    --text: #f1faee;

    color: var(--text);
    font-family: monospace;
}

/* Document styling */
html,body{
    height: 100%;
    width: 100%;

    margin: auto;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--background);
}
/* Top bar */
.topBar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Word holders */
.main{
    height: 90%;
    width: 30%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#attemptsHolder{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
#attemptsHolder::-webkit-scrollbar{
    display: none;
}

/* Word styling */
.word{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letter{
    width: 23%;
    aspect-ratio: 1;
    border-radius: 20%;
    margin: 0;

    background-color: var(--letter-color);

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    font-size: 3vw;
    font-weight: bolder;
}

.fixedWord > .word > .letter{
    background-color: var(--text);
    color: var(--letter-color);
}

/* Input field styling */
.inputField{
    width: 100%;

    margin: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputField > input{
    width: 100%;
    border-radius: 20px;

    margin: 0;
    border: 0;
    padding: 20px;
    outline: none;
    text-align: center;

    box-sizing: border-box;

    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--text);

    background-color: var(--letter-color);
}

/* End Screen */
#endScreen{
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 20px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    backdrop-filter: blur(10px);
    transition: all;
    transition-duration: 1s;
    opacity: 0;
}
#endText::before{
    content: "Você ganhou em ";
}
#endText::after{
    content: " palavras!";
}
#replayButton{
    width: 40pt;
}